.padding-new{
    padding: 0px !important;
}
margin-new{
    margin: 0px !important;
}

.image-align{
    width:20px;
    height:20px;
    margin-left:0px !important;
}
    
.margin-left{
    margin-left: 77px !important;
}
    
.fontview{
    font-size: 15px !important;
}
.card-design{
    border-left-style: solid ;
    border-left-color: #5b8eee;
    /* width: 100% !important; */
}

   
        